{
	"endOfLine": "auto",
	"semi": true,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "es5",
	"arrowParens": "always",
	"printWidth": 100,
	"jsxBracketSameLine": false,
	"useTabs": true,
	"jsxSingleQuote": true
}