.header {
	display: flex;
	padding-left: 10px;
	justify-content: space-between;
	padding: 0 30px;
}

.title__h3 {
	color: white;
	font-weight: 700;
	font-size: 2rem;
}

.title__h3:hover {
	color: #5fb584;
}

.header__nav {
	display: flex;
	justify-content: space-between;
	gap: 30px;
}

.nav__item {
	font-size: 1.4rem;
	list-style: none;
	margin: 0;
	padding: 0.5rem 1rem;
	border-radius: 3px;
}

.nav__item:hover {
	background-color: #444;
}

.nav__link{
	color: #7ce6aa;
}


.nav__link:hover {
	text-decoration: none;
}
